.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {
  border-top: #FFC6E5 solid 4px;
  border-left: #FFC6E5 solid 4px ;
  border-right: #A0CFEE solid 4px;
  border-bottom: #A0CFEE solid 4px;
  border-radius: 10px;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 32rem;
  width: 35rem;
  margin: 0;
  position: absolute;
  left: 30%;
  top: 100px;
  
}
.buttons {
  padding: 2rem;
}

.female-btn {
  color:#A11963;
  background-color: #FFC6E5;
  padding: 2px;
  margin: 2px;
  border-radius: 3px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.male-btn {
  color:#205B83;
  background-color: #A0CFEE;
  padding: 2px;
  margin: 2px;
  border-radius: 3px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.input-style {
  border-top: #FFC6E5 solid 4px;
  border-left: #FFC6E5 solid 4px ;
  border-right: #A0CFEE solid 4px;
  border-bottom: #A0CFEE solid 4px;
  height: 5rem;
  width: 45rem;
  position: absolute;
  left: 25%;
  margin-top: 5px;
  border-radius: 7px;
}
input {
  margin-top: 7px;
  border: #A0CFEE solid 4px;
  border-radius: 4px;
}

hr {
  width: 80%;
  position: absolute;
  bottom: -3px;
  left:13%;
}

.move-up {
  transition-delay: .1s;
  transform: translateY(-437px);
}

.favourites{
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 14px;


}

.favourites-p{
top:20px;
margin-left:97px ;
}

.gender-button {
  display: flex;
  margin-left: 25px;
  margin-top: 9px;
}
.icon {
  margin-right: 3px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 4px;
}

.active {
  margin-right: 3px;
  border-radius: 2px;
  cursor: pointer;
  padding: 4px;
  border-bottom: 3px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
